body{
  background-color:antiquewhite;
}
.logo-2{
  width:200px;
  
  margin-right:300px;
 
  display: inline-block;
  border-radius: 20px;
  vertical-align: top;
  height:auto;
  background-size: contain;
  margin-left: 30px;
}



.logo{
  width: 200px;
  border-radius: 20px;

 
  
  display: inline-block;
  vertical-align: top;
  height:auto;
  background-size: contain;
  margin-left: 75px;




}
.logo-3{
  width:170px;
  
  margin-left: 400px;
  
 
  display: inline-block;
  border-radius: 20px;
  
  height:auto;
  background-size: contain;
  vertical-align: top;

}
.title{
  font-size: 50px;
  font-family: serif;
  font-style: italic;
  margin-bottom: 0px;

}
.space{
  color: azure;
}
.num{
  color: blue;
  

}
.num:hover{
  cursor: pointer;
}
.insta{
  background-color: grey;
  color:white;
  border: none;
  border-radius:22px ;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  margin-right: 20px;
  margin-left: 55px;

}




.insta:hover{
  cursor: pointer;

}
.snap:hover{
  cursor: pointer;
}
.whtsp:hover{
  cursor: pointer;
}
.twit:hover{
  cursor: pointer;
}
.whtsp{
  background-color: grey;
  color:white;
  border: none;
  border-radius:22px ;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  margin-right: 20px;
  
}
.twit{
  background-color: grey;
  color:white;
  border: none;
  border-radius:22px ;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  margin-right: 20px;
}
.snap{
  background-color: grey;
  color:white;
  border: none;
  border-radius:22px ;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  margin-right: 20px;
}
.sub-heading{
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  color: grey;
}
.des{
  display: inline-block;
  line-height: 20px;
  font-size: 17px;
}
.box{
  border-color: black;
  border-style: solid;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  background-color: azure;
}
.column {
width: 100%;
}
@media only screen and (max-width: 744px) and (min-width: 740px) {
.logo-3{
display: block;
margin-left: 285px;
width:140px;

}
.logo{
display: inline-block;
width:150px;

}
.logo-2{
display: inline-block;
width:150px;
margin-left: 22px;


}
.insta{
margin-left: 0;
}
.twit{
padding-left: 34px;
padding-right: 34px;
}

}

@media only screen and (max-width: 829px) and (min-width: 745px) {
.logo-3{
display: inline-block;
margin-left: 300px;


width: 140px;
}
.logo{
display: inline-block;
margin-top: 0;



width: 160px;





}
.logo-2{
display: inline-block;
width: 160px;
margin-left: 23px;





}
.insta{
margin-left: 0;

}


}
@media only screen and (max-width:1398px) and (min-width: 1386px) {
.logo-3{
display: block;
width:185px;
margin-left:600px ;


}
.logo{
display: inline-block;
margin-left: 600px;
width:200px;

}
.logo-2{
display: inline-block;
width:200px;


}
}
@media only screen and (max-width:1385px) and (min-width: 1151px) {
.logo-3{
display:block;
width:185px;
margin-left: 485px;




}
.logo{
display: inline-block;
margin-left: 382px;
width:200px;

}
.logo-2{
display: inline-block;
width:200px;


}
}
@media only screen and (max-width:1150px) and (min-width: 1001px) {
.logo-3{
display: block;
width:185px;
margin-left:410px ;


}
.logo{
display: inline-block;
margin-left: 233px;
width:200px;

}
.logo-2{
display: inline-block;
width:200px;


}
}
@media only screen and (max-width:1000px) and (min-width: 951px) {
.logo-3{
display: block;
width:185px;
margin-left:360px ;


}
.logo{
display: inline-block;
margin-left: 150px;
width:200px;

}
.logo-2{
display: inline-block;
width:200px;


}
}
@media only screen and (max-width:950px) and (min-width: 903px) {
.logo-3{
display: block;
width:165px;
margin-left:372px ;


}
.logo{
display: inline-block;
margin-left: 180px;
width:180px;

}
.logo-2{
display: inline-block;
width:180px;


}
}

@media only screen and (max-width:902px) and (min-width: 830px) {
.logo-3{
display: block;
width:150px;
margin-left:340px ;


}
.logo{
display: inline-block;
margin-left: 148px;
width:165px;

}
.logo-2{
display: inline-block;
width:165px;


}
}


@media only screen  and (min-width: 670px) and (max-width:739px){

.logo-3{
margin-top:50px;
width:220px;
margin-left: 200px;

}
.logo{
display: inline-block;
margin-top: 50px;
margin-left:200px;
width:230px;
margin-bottom: 0;

}
.logo-2{
display: inline-block;
width:230px;
margin-left: 200px;
margin-top:30px;

}
.insta{
margin-left: 0;

}
.twit{
margin-top: 20px;
}
.main-content{
margin-top: 0;
}

}








@media only screen and (max-width: 500px) {
.logo{
width:220px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 93px;
margin-bottom: 0;


}
.logo-2{
width:220px;
display:block;
border-radius: 20px;
margin-left:93px;
margin-top: 50px;

}
.logo-3{
width:215px;
margin-left: 93px;
margin-top: 50px;

}
.insta{
margin-left: 28px;
margin-bottom:20px ;


}
.twit{
display: inline-block;
padding-right: 35px;
text-align: center;
font-size: 17px;
padding-left: 35px;

}
.whtsp{
margin-bottom:20px;




}
.snap{
margin-bottom: 15px;
display: inline-block;
margin-left: 28px;
padding-left:40px ;
padding-right: 40px;
margin-right: 25px;
}
.footer{
width:100%;
}
.title{
font-size:35px;
}



}
@media only screen and (max-width: 669px) and (min-width: 615px){
.logo{
width:200px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 180px;
margin-bottom: 0;


}
.logo-2{
width:200px;
display:block;
border-radius: 20px;
margin-left:180px;
margin-top: 30px;

}
.logo-3{
margin-left:190px;
width:180px;
margin-top: 50px;;


}
.insta{
margin-left: 0;
margin-bottom:15px ;


}
.twit{
display: inline-block;

}
.whtsp{
margin-bottom:15px;

text-decoration:none;

}
.snap{
margin-bottom: 15px;
display: inline-block;
}
.footer{
width:100%;
}
.title{
font-size:35px;
}




}




@media only screen and (max-width: 614px) and (min-width:532px) {
.logo{
width:230px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 147px;
margin-bottom: 0;


}
.logo-2{
width:230px;
display:block;
border-radius: 20px;
margin-left:147px;
margin-top:20px ;

}
.logo-3{
margin-top:50px ;
margin-left:147px;
width:215px;



}
.insta{

margin-bottom:23px ;


}
.twit{


}
.whtsp{
margin-bottom:23px;



}
.snap{
margin-left:140px;


}
.footer{
width:100%;
}
.title{
font-size:35px;
}



}
@media only screen and (max-width: 531px) and (min-width:500px) {
.logo{
width:230px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 147px;
margin-bottom: 0;


}
.logo-2{
width:230px;
display:block;
border-radius: 20px;
margin-left:147px;
margin-top:10px ;

}
.logo-3{
margin-top:50px ;
margin-left:147px;
width:215px;



}
.insta{
margin-left: 50px;
margin-bottom: 0;
display: inline-block;




}
.twit{
margin-top: 0;
display:inline-block;
padding-left: 37px;
padding-right: 37px;


}
.whtsp{
margin-bottom:23px;
display: inline-block;



}
.snap{

display: inline-block;
margin-left: 49px;



}
.footer{
width:100%;
}
.title{
font-size:35px;
}



}
@media only screen and (max-width: 409px) and (min-width:404px) {
.logo{
width:200px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 100px;
margin-bottom: 0;


}
.logo-2{
width:200px;
display:block;
border-radius: 20px;
margin-left:100px;
margin-top:30px ;

}
.logo-3{
margin-top:50px ;
margin-left:100px;
width:197px;



}
.insta{

margin-bottom:23px ;
display: inline-block;
margin-left: 0;


}
.twit{
display: inline-block;


}
.whtsp{
margin-bottom:23px;
display: inline-block;



}


.snap{
display: inline-block;
margin-left: 0;


}
.footer{
width:100%;
}
.title{
font-size:35px;
}


}
@media only screen and (max-width: 403px) and (min-width:350px) {
.logo{
width:200px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 83px;
margin-bottom: 0;


}
.logo-2{
width:200px;
display:block;
border-radius: 20px;
margin-left:83px;
margin-top:10px ;

}
.logo-3{
margin-top:50px ;
margin-left:83px;
width:196px;



}
.insta{
margin-left: 20px;





}
.twit{

margin-left: 20px;
padding-right: 35px;
padding-left: 35px;


}
.whtsp{
margin-left: 20px;






}
.snap{
padding-right: 40px;
padding-left: 40px;
margin-left: 20px;
margin-bottom: 23px;


}

.footer{
width:100%;
}
.title{
font-size:35px;
}



}
@media only screen and (max-width: 349px) and (min-width:250px) {
.logo{
width:170px;
display:block;
border-radius: 20px;
margin-top: 50px;
margin-left: 50px;
margin-bottom: 0;


}
.logo-2{
width:170px;
display:block;
border-radius: 20px;
margin-left:50px;
margin-top:20px ;

}
.logo-3{
margin-top:50px ;
margin-left:50px;
width:165px;



}
.insta{
margin-left: 0;





}
.twit{
display: block;

padding-right: 30px;
padding-left: 30px;


}
.whtsp{






}
.snap{

display: block;

margin-bottom: 23px;
margin-left: 0;


}
.footer{
width:100%;
}
.title{
font-size:35px;
}



}

.footer{
background-color: rgba(128, 128, 128, 0.733);
color: white;
text-align: center;
padding-top: 10px;
padding-bottom:10px;
border-radius: 10px;
margin-top:50px;
width:100%;
box-shadow: 5px 5px 10px rgba(0,0,0,0.15); 
}
.app{
margin-top: 20px;
display: inline-block;
}
.container {
width: 90%; 
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}

.main-content {
width: 100%; 
}